<div class="baseView">
    <div class="left" style="min-width: 310px;">
        <Form 
            Layout="@FormLayout.Vertical"
            OnFinish="HandleFinish"
            Model="@UserDto">            
            <FormItem Label="User Name">
                <AntDesign.Input @bind-Value="@context.UserName" />
            </FormItem>
            <Row Gutter="16">
                <AntDesign.Col Span="12">
                    <FormItem Label="User Name">
                        <AntDesign.Input @bind-Value="@context.Name" />
                    </FormItem>
                </AntDesign.Col>
                <AntDesign.Col Span="12">
                    <FormItem Label="Surname">
                        <AntDesign.Input @bind-Value="@context.Surname" />
                    </FormItem>
                </AntDesign.Col>
            </Row>
            <FormItem Label="Email">
                <AntDesign.Input @bind-Value="@context.Email" />
            </FormItem>
            <FormItem Label="Phone Number">
                <AntDesign.Input @bind-Value="@context.PhoneNumber" />
            </FormItem>
            <FormItem>
                <Button HtmlType="submit" Type="@ButtonType.Primary">
                    Update Information
                </Button>
            </FormItem>
        </Form>
    </div>
</div>