@page "/exam"

<Card Title="我的考试">
    <Table 
           TItem="ExamListDto"
           DataSource="@_exams"
           Total="_total"
           @bind-PageIndex="_pageIndex"
           @bind-PageSize="_pageSize"
           OnChange="OnChange">
        <Selection Key="@(context.Id.ToString())" />
        <PropertyColumn Property="c=>c.Name" Title="@L["Name"]" />
        <PropertyColumn Title="@L["Score"]" Field="@($"{context.Score}（{L["PassingScore"]}：{context.PassingScore}）")" />
        <PropertyColumn Property="c=>c.TotalTime" Title="@L["TotalTime"]" />
        <PropertyColumn Title="@L["ExamTime"]" Field="@($"{context.StartTime} ~ {context.EndTime}")" />
        <ActionColumn Title="@L["Action"]">
            @if (context.StartTime.HasValue && context.EndTime.HasValue && (DateTime.Now > context.StartTime.Value && DateTime.Now < context.EndTime.Value))
            {
                <Space>
                    <SpaceItem>
                        <Button Type="@ButtonType.Primary" OnClick="()=>BeganAsync(context.Id)">@L["BeganExam"]</Button>
                    </SpaceItem>
                </Space>
            }
        </ActionColumn>
    </Table>
</Card>
@using AntDesign.TableModels;
@using System.Text.Json;
@using Microsoft.Extensions.Localization
@using SuperAbp.Exam.ExamManagement.Exams
@using SuperAbp.Exam.Localization
@attribute [Authorize]
@inject NavigationManager Navigation
@inject IExaminationAppService ExamAppService
@inject IStringLocalizer<ExamResource> L
@code {
    IReadOnlyList<ExamListDto> _exams;

    int _pageIndex = 1;
    int _pageSize = 10;
    int _total = 0;

    protected override async Task OnInitializedAsync()
    {
        var result = await ExamAppService.GetListAsync(new GetExamsInput() { SkipCount = 0, MaxResultCount = 10, Sorting = ExaminationConsts.DefaultSorting });
        _exams = result.Items;
        _total = (int)result.TotalCount;
    }
    public async Task OnChange(QueryModel<ExamListDto> queryModel)
    {
        Console.WriteLine(JsonSerializer.Serialize(queryModel));
    }

    private async Task BeganAsync(Guid id)
    {
        Navigation.NavigateTo("/Exam/Start/"+id);
    }
}
