@page "/exam/start/{id:guid}"

<style>
    .question-content .title {
        font-size: 18px;
    }

        .question-content .title .number {
            font-weight: bold;
        }
    .question-content .chooses {
        width: 100%;
        
    }

    .chooses .choose-item {
        width: 100%;
        padding: 9px 20px 9px 5px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #d9d9d9;
        margin-bottom: 10px;
    }

    .chooses .ant-radio {
        display: none;
    }

    .ant-radio-wrapper-checked {
        border: 1px solid #409eff !important;
    }

    .chooses .choose-item .tag {
        width: 10px;
        font-weight: bold;
        color: #1890ff;
    }

    .chooses .choose-item .content {
        color: #000;
        margin-left: 5px;
    }
</style>

<GridRow Gutter="16">
    <GridCol Span="4">
        <Card>
            <div class="header">
                <span>单选题</span>
                <span>共20题</span>
            </div>
            <div class="content">
                <div>
                    @for (int i = 1; i < 10; i++)
                    {
                        <Tag Color="@(Successes.Contains(i.ToString())? "success": "default")">@i</Tag>
                    }
                </div>
            </div>
        </Card>
    </GridCol>
    <GridCol Span="16">
        <Card class="question-content">
            <h2 class="title">
                <span class="number">1</span>
                <span>地球上0度经线和0度纬线的长度相比（）</span>
            </h2>
            <RadioGroup class="chooses" @bind-Value="radioValue5" Size="large">
                <Radio class="choose-item" Value="@("A")">
                    <span class="tag">A</span>
                    <span class="content">Hangzhou</span>
                </Radio>
                <Radio class="choose-item" Value="@("B")">
                    <span class="tag">A</span>
                    <span class="content">Hangzhou</span>
                </Radio>
                <Radio class="choose-item" Value="@("C")">
                    <span class="tag">A</span>
                    <span class="content">Hangzhou</span>
                </Radio>
                <Radio class="choose-item" Value="@("D")">
                    <span class="tag">A</span>
                    <span class="content">Hangzhou</span>
                </Radio>
            </RadioGroup>
        </Card>
    </GridCol>
    <GridCol Span="4">
        <div style="background-color: #fff">3</div>
    </GridCol>
</GridRow>

@code {
    [Parameter]
    public Guid Id { get; set; }

    string radioValue5;
    private List<string> Successes { get; set; } = new List<string>();

    private List<dynamic> Questions = new List<dynamic>()
    {
        new
        {
            Title = "人们把社会生产的各个部门划分为三类产业，下列属于第三产业的是（）"
        }
    };

}
