@page "/my/exam"

<Card Title="考试记录">
    <Table TItem="UserExamListDto"
           DataSource="@_userExams"
           Total="_totalCount"
           Loading="_loading"
           @bind-PageIndex="_currentPage"
           @bind-PageSize="_pageSize"
           OnChange="Change">
        <Selection Key="@(context.ExamId.ToString())" />
        <PropertyColumn Property="c=>c.ExamName" Title="@L["ExamName"]" />
        <PropertyColumn Property="c=>c.Count" Title="@L["ExamCount"]" />
        <PropertyColumn Property="c=>c.MaxScore" Title="@L["MaxScore"]" />
        <PropertyColumn Property="c=>c.LastTime" Title="@L["LastTime"]" />
    </Table>
</Card>

@using AntDesign.TableModels
@using Microsoft.Extensions.Localization
@using SuperAbp.Exam.ExamManagement.UserExams
@using SuperAbp.Exam.Localization
@inject IStringLocalizer<ExamResource> L
@inject IUserExamAppService UserExamAppService
@code {
    IReadOnlyList<UserExamListDto> _userExams;

    int _currentPage = 1;
    int _pageSize = 10;
    int _totalCount = 0;
    bool _loading = true;

    // TODO:展示考试列表。查看明细进入此考试的考试记录
    public async Task Change(QueryModel model)
    {
        await GetListAsync(model.PageIndex, model.PageSize);
    }
    protected async Task GetListAsync(int pageIndex, int pageSize, string sorting = null)
    {
        _loading = true;
        var result = await UserExamAppService.GetListAsync(new GetUserExamsInput() { SkipCount = 0, MaxResultCount = _pageSize });
        _userExams = result.Items;
        _totalCount = (int)result.TotalCount;
        _loading = false;
    }
}
