@page "/repository/{QuestionRepositoryId:guid}/training/{TrainType:int?}"

<style>
    .question-content .title {
        font-size: 18px;
    }

    .question-content .title .number {
        font-weight: bold;
    }
    .question-content .chooses {
        width: 100%;
        
    }

    .bottom {
        display: flex;
        -o-justify-content: space-between;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    .analysis {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .chooses .choose-item {
        width: 100%;
        padding: 9px 20px 9px 5px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #d9d9d9;
        margin-bottom: 10px;
    }

    .chooses .choose-item.success {
        border-color: #52c41a;
    }

    .chooses .choose-item.error {
        border-color: #ff4d4f;
    }
        

    .chooses .ant-radio {
        display: none;
    }

    .chooses .choose-item .tag {
        width: 10px;
        font-weight: bold;
        color: #1890ff;
    }

    .chooses .choose-item .content {
        color: #000;
        margin-left: 5px;
    }

    .ant-tag.current {
        color: #389e0d;
        background: #f6ffed;
        border-color: #b7eb8f;
    }

</style>
@if (loading)
{
    <div style=" text-align: center;margin: 50px 0;">
        <Spin />
    </div>
}
else
{
    <GridRow Gutter="16">
        <GridCol Span="4">
            <Card>
                <div class="content">
                    <div>
                        @for (int i = 0; i < _questionIds.Count; i++)
                        {
                            var tempIndex = i;
                            var color = GetNumberColor(tempIndex);
                            <Tag Color="@color" OnClick="async () => await ShowQuestionAsync(tempIndex)">@(tempIndex + 1)</Tag>
                        }
                    </div>
                </div>
            </Card>
        </GridCol>
        <GridCol Span="20">
            <Card class="question-content">
                @if (loadingQuestion)
                {
                    <Spin />
                }
                else
                {
                    @if (_question != null)
                    {
                        <h2 class="title">
                            <span class="number">@(_questionIndex + 1)</span>
                            <span>@_question.Content</span>
                        </h2>
                        <RadioGroup class="chooses" @bind-Value="_selectedAnswerIndex" Size="large" TValue="int" OnChange="ValidateAsync" Disabled="_selectedAnswerIndex != noneSelect">
                            @for (int i = 0; i < _questionAnswers.Count; i++)
                            {
                                var tempIndex = i;
                                var answer = _questionAnswers[tempIndex];
                                <Radio class="@GetBorderColor(answer, tempIndex)" Value="@tempIndex">
                                    <span class="tag">@chooseItem[tempIndex]</span>
                                    <span class="content">@answer.Content</span>
                                </Radio>
                            }
                        </RadioGroup>
                    }
                    @if (_showAnalysis)
                    {
                        <div class="analysis">
                            <Card Title="题目解析">
                                @_question.Analysis
                            </Card>
                        </div>
                    }
                    <div class="bottom">
                        @if (_questionIndex <= 0)
                        {
                            <Button OnClick="PrevAsync" Disabled>上一题</Button>
                        }
                        else
                        {
                            <Button OnClick="PrevAsync">上一题</Button>
                        }
                        @if (_questionIndex >= _questionIds.Count - 1)
                        {
                            <Button OnClick="NextAsync" Disabled>下一题</Button>
                        }
                        else
                        {
                            <Button OnClick="NextAsync">下一题</Button>
                        }

                    </div>
                }
            </Card>
        </GridCol>
    </GridRow>
}

@using SuperAbp.Exam.QuestionManagement.Questions
@using SuperAbp.Exam.QuestionManagement.QuestionAnswers
@using System.Diagnostics
@using Castle.Components.DictionaryAdapter
@using SuperAbp.Exam.TrainingManagement
@inject IQuestionAppService QuestionAppService
@inject IQuestionAnswerAppService QuestionAnswerAppService
@inject ITrainingAppService TrainingAppService
@code {
        const int  noneSelect = -1;
    [Parameter]
    public Guid QuestionRepositoryId { get; set; }

    [Parameter]
    public int? TrainType { get; set; }

    bool loading = true;
    bool loadingQuestion = false;
    string[] chooseItem = { "A", "B", "C", "D", "E" };
    IReadOnlyList<Guid> _questionIds = Array.Empty<Guid>();
    IReadOnlyList<QuestionAnswerListDto> _questionAnswers = Array.Empty<QuestionAnswerListDto>();
    IReadOnlyList<TrainingListDto> _trains = Array.Empty<TrainingListDto>();
    Dictionary<Guid, Tuple<QuestionDetailDto, IReadOnlyList<QuestionAnswerListDto>>> _cacheQuestions = new();
    List<QuestionAnswerItem> _selectedQuestionAnswers = new();
    QuestionDetailDto _question;
    bool _showAnalysis = false;
    int _questionIndex = 0;
    int _selectedAnswerIndex = noneSelect;
    protected override async Task OnInitializedAsync()
    {
        var result = await QuestionAppService.GetIdsAsync(new GetQuestionsInput() { QuestionRepositoryId = QuestionRepositoryId });
        _questionIds = result.Items;

        int maxIndex = 0;
        if (TrainType is null or 0)
        {
            var trainResult = await TrainingAppService.GetListAsync(new GetTrainsInput() { QuestionRepositoryId = QuestionRepositoryId });
            _trains = trainResult.Items;

            maxIndex = _trains.Count > 0 
                ? _trains.Max(t => _questionIds.ToList().IndexOf(t.QuestionId))
                : 0;
        }
        await ShowQuestionAsync(maxIndex);
        loading = false;
    }

    public async Task NextAsync()
    {
        if (_questionIndex >= _questionIds.Count)
        {
            _questionIndex = _questionIds.Count - 1;
            return;

        }

        await ShowQuestionAsync(_questionIndex + 1);
    }
    public async Task PrevAsync()
    {
        if (_questionIndex < 0)
        {
            _questionIndex = 0;
            return;
        }
        await ShowQuestionAsync(_questionIndex - 1);
    }
    public async Task ShowQuestionAsync(int index)
    {
        loadingQuestion = true;
        _questionIndex = index;

        var id = _questionIds[index];
        await LoadQuestionAsync(id);

        if (TrainType is 1)
        {
            _selectedAnswerIndex = _questionAnswers.ToList().IndexOf(_questionAnswers.Single(a => a.Right));
            _showAnalysis = true;
        }
        else
        {
            var selectedAnswer = _selectedQuestionAnswers.Find(a => a.QuestionId == id);
            if (selectedAnswer is not null)
            {
                _selectedAnswerIndex = _questionAnswers.ToList().IndexOf(_questionAnswers.First(a => a.Id == selectedAnswer.AnswerId));
                _showAnalysis = true;
            }
            else
            {
                _showAnalysis = false;
                _selectedAnswerIndex = noneSelect;
            }
        }
        loadingQuestion = false;
    }

    private async Task LoadQuestionAsync(Guid id)
    {
        if (_cacheQuestions.ContainsKey(id))
        {
            _question = _cacheQuestions[id].Item1;
            _questionAnswers = _cacheQuestions[id].Item2;
        }
        else
        {
            _question = await QuestionAppService.GetAsync(id);
            _questionAnswers = (await QuestionAnswerAppService.GetListAsync(id)).Items;
            _cacheQuestions.Add(id, new Tuple<QuestionDetailDto, IReadOnlyList<QuestionAnswerListDto>>(_question, _questionAnswers));
        }
    }

    public string GetNumberColor(int index)
    {
        if (_questionIndex == index)
        {
            return "processing";
        }
        var id = _questionIds[index];
        var training = _trains.SingleOrDefault(t => t.QuestionId == id);
        if (training is not null)
        {
            return GetColor(training.Right);
        }
        var tempItem = _selectedQuestionAnswers.SingleOrDefault(item => item.QuestionIndex == index);
        if (tempItem is null)
        {
            return "default";
        }
        return GetColor(tempItem.Right);
    }

    private string GetColor(bool right)
    {
        return right ? "success" : "error";
    }
    public string GetBorderColor(QuestionAnswerListDto answer, int index)
    {
        List<string> classes = new List<string>() { "choose-item" };
        if (_selectedAnswerIndex == noneSelect)
        {
            return String.Join(" ", classes);
        }
        if (!_showAnalysis) return String.Join(" ", classes);
        if (answer.Right)
        {
            classes.Add("success");
            return String.Join(" ", classes);
        }

        if (_selectedAnswerIndex == index)
        {
            classes.Add("error");
            return String.Join(" ", classes);
        }
        return String.Join(" ", classes);
    }

    public async Task ValidateAsync(int index)
    {
        var questionId = _questionIds[_questionIndex];
        var right = _questionAnswers[index].Right;
        var training = _trains.SingleOrDefault(t => t.QuestionId == questionId);
        if (training is null)
        {
            await TrainingAppService.CreateAsync(new TrainingCreateDto()
            {
                QuestionRepositoryId = QuestionRepositoryId,
                QuestionId = questionId, 
                Right = right
            });
        }
        else
        {
            await TrainingAppService.SetIsRightAsync(training.Id, right);
        }
        _selectedQuestionAnswers.Add(new QuestionAnswerItem()
        {
            QuestionIndex = _questionIndex,
            QuestionId = questionId,
            AnswerId = _questionAnswers[index].Id,
                Right = right
        });
        _showAnalysis = true;
    }

    public class QuestionAnswerItem
    {
        public int QuestionIndex { get; set; }
        public Guid QuestionId { get; set; }
        public Guid AnswerId { get; set; }
        public bool Right { get; set; }
    }
}
