@page "/my/exam"

<Card Title="考试记录">
    <Table TItem="UserExamListDto"
           DataSource="@_userExams"
           Total="_totalCount"
           Loading="_loading"
           RowKey="x=>x.Id"
           @bind-PageIndex="_currentPage"
           @bind-PageSize="_pageSize"
           OnChange="Change">
        <PropertyColumn Property="c => c.ExamName" Title="@L["ExamName"]"/>
        <PropertyColumn Field="@L["UserExamStatus:" + context.Status]"  Title="@L["Status"]" />
        <PropertyColumn Property="c => c.TotalScore">
            @if (context.Status == 3)
            {
                @context.TotalScore
            }
            else if(context.Status <= UserExamStatus.Submitted)
            {
                <span>未出分</span>
            }
            else
            {
                <span>0</span>
            }
        </PropertyColumn>
        <PropertyColumn Property="c => c.CreationTime" Title="@L["StartTime"]" />
        <PropertyColumn Property="c => c.FinishedTime" Title="@L["EndTime"]" />
        <ActionColumn Title="@L["Actions"]">
            @if (context.Status == UserExamStatus.Scored)
            {
                <Space>
                    <SpaceItem>
                        <Button Type="@ButtonType.Primary" OnClick="()=>Detail(context.Id)">@L["Detail"]</Button>
                    </SpaceItem>
                </Space>
            }
            @if (context.Status == UserExamStatus.InProgress)
            {
                <Space>
                    <SpaceItem>
                        <NavLink href="@($"/exam/start/{context.Id}")">@L["StartExam"]</NavLink>
                    </SpaceItem>
                </Space>
            }
        </ActionColumn>
    </Table>
</Card>

@using AntDesign.TableModels
@using Microsoft.Extensions.Localization
@using SuperAbp.Exam.ExamManagement.UserExams
@using SuperAbp.Exam.Localization
@inject IStringLocalizer<ExamResource> L
@inject NavigationManager Navigation
@inject IUserExamAppService UserExamAppService
@code {
    IReadOnlyList<UserExamListDto> _userExams;

    int _currentPage = 1;
    int _pageSize = 10;
    int _totalCount = 0;
    bool _loading = true;

    public async Task Change(QueryModel model)
    {
        await GetListAsync(model.PageIndex, model.PageSize);
    }
    protected async Task GetListAsync(int pageIndex, int pageSize, string sorting = null)
    {
        _loading = true;
        var skipCount = (pageIndex - 1) * pageSize;
        var result = await UserExamAppService.GetListAsync(new GetUserExamsInput() 
        { 
            SkipCount = skipCount, 
            MaxResultCount = pageSize 
        });
        _userExams = result.Items;
        _totalCount = (int)result.TotalCount;
        _loading = false;
    }

    protected void Detail(Guid id)
    {
        Navigation.NavigateTo($"/my/exam/{id}");
    }
}
